{% load activity_tags %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grid Item Animation Layout - Demo 1</title>
		<meta name="description" content="A responsive, magazine-like website layout with a grid item animation effect when opening the content" />
		<meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style1.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			<div id="theSidebar" class="sidebar">
				<button class="close-button fa fa-fw fa-close"></button>

				<h2><span>MentorEarth<span></h2>
				<nav class="codrops-demos">
					<a class="current-demo" href="base.html">Read</a>
					<a href="write.html">Write</a>
				</nav>
				<div class="related">
					<h3>Lekau Mamabolo</h3>
					<p>South Africa</p>
					<!-- <p><a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Interests</a></p> -->
					<p><a href="profile.html">Edit Profile</a></p>
				</div>
			</div>
			{% block content %}
			<div id="theGrid" class="main">
				<section class="grid">
					<header class="top-bar">
						<h2 class="top-bar__headline">Latest articles</h2>
						<div class="filter">
							<span>Filter by:</span>
							<span class="dropdown">Popular</span>
						</div>
					</header>
					{% include mentorearth/_write.html %}
						
				</section>
				<section class="content">
					<div class="scroll-wrap">
						<!-- Content -->
					</div>
					<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
				</section>
			</div>
		</div><!-- /container -->
		{% endblock content %}
		<script src="js/classie.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
